@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
$logoFont: 'WindSong', cursive;
$menuFont:'Ubuntu Condensed', sans-serif;
$aboutHeader:'Acme', sans-serif;
$aboutDesc:'Tajawal', sans-serif;